.header {
    background-color: black;
    height: 150px;
    width: 2000px;
    text-align: center;
    color: red;
    z-index: -1;
    font-size: 2.5em;
    font-family: 'Nosifer', cursive;
}

.hand .horror {
    display: inline-block;
    position: relative;
}

.hand .one {
    position: absolute;
    max-width: 300px;
    font: cursive;
    font-size: 2.25em;
    height: 150px;
}

.hand {
    border: 10px solid black;
    display: inline-block;
}

.image {
    display: inline-block;
}
