@import url('https://fonts.googleapis.com/css?family=Creepster|Nosifer');

div{
  border: 1px solid black;
}
.header {
    background-color: black;
    height: 150px;
    width: 100%;
    text-align: center;
    color: red;
    z-index: 2;
    display:block;
    font-size: 2.5em;
    font-family: 'Nosifer', cursive;
    position:fixed;
}

.hand .horror {
    display: inline-block;
    padding-bottom: 100px;
    max-width: 100%;
    position:relative;
    top:152px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 100px;
    padding: 10px 10px 10px 10px;
}

.hand .one {
    margin-right:auto;
    position: relative;
    width: 900px;
    font: cursive;
    font-size: 3.5em;
    bottom: 900px;
    left:100px;
    font-family: 'Creepster',cursive;
    
}

.hand #haunted{
  display: inline-block;
    position:relative;
    float:right;
    right: 20px;
    height:200px;
    bottom: 1500px;
}

.hand {
    display: inline-block;  
    height:1000px;
}

.blue-button {
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    background-color:red;
    font-size: 20px;
    height: 50px;
    margin: auto;
}

.ticket-number{
    border-radius:20px;
    font-family:Arial;
    color:red;
    position:relative;
    bottom:25px;
    left: 175px;
}

form{
    position:relative;
    text-align:center;
    bottom:875px;
}

#red{
    color:red;
}