.header {
    background-color: black;
    height: 150px;
    width: 2000px;
    text-align: center;
    color: red;
    z-index: -1;
    font-size: 2.5em;
    font-family: 'Nosifer', cursive;
}

.hand #horror {
    position: relative;
    display: inline-block;
}

.image {
    display: inline-block;
}

.hand #1 {
    position: absolute;
    max-width: 20px;
    font: cursive;
    font-size: 2em;
    height:200px;
}

.hand #2 {
    position: absolute;
    max-width: 20px;
    font: cursive;
    font-size: 2em;
}
